Repository matheus-mp/datafun-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: B1-validate-pyproject, B2-ruff-format, B3-ruff-check

Path conditions:
  B1-validate-pyproject: any of: ^pyproject\.toml$, but not: (?x)^(
  \.DS_Store|
  \.coverage|
  \.ipynb_checkpoints/|
  \.mypy_cache/|
  \.nox/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.tox/|
  \.venv/|
  .*\.(egg-info)/|
  build/|
  coverage\.xml|
  dist/|
  htmlcov/|
  node_modules/|
  site/
)

  B2-ruff-format: any of: \.py$, but not: (?x)^(
  \.DS_Store|
  \.coverage|
  \.ipynb_checkpoints/|
  \.mypy_cache/|
  \.nox/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.tox/|
  \.venv/|
  .*\.(egg-info)/|
  build/|
  coverage\.xml|
  dist/|
  htmlcov/|
  node_modules/|
  site/
)

  B3-ruff-check: any of: \.py$, but not: (?x)^(
  \.DS_Store|
  \.coverage|
  \.ipynb_checkpoints/|
  \.mypy_cache/|
  \.nox/|
  \.pytest_cache/|
  \.ruff_cache/|
  \.tox/|
  \.venv/|
  .*\.(egg-info)/|
  build/|
  coverage\.xml|
  dist/|
  htmlcov/|
  node_modules/|
  site/
)


initial
  src/datafun_toolkit/_version.py
Due: B2-ruff-format, B3-ruff-check

update release
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
Due: none

update release
  .github/workflows/release.yml
  CHANGELOG.md
  pyproject.toml
  src/datafun_toolkit/_version.py
Due: B1-validate-pyproject, B2-ruff-format, B3-ruff-check

Delete src/datafun_toolkit/_version.py
  src/datafun_toolkit/_version.py
Due: B2-ruff-format, B3-ruff-check

update release
  .gitignore
  CHANGELOG.md
Due: none

Prep v0.9.3
  .github/workflows/release.yml
  CHANGELOG.md
  INSTRUCTORS.md
  docs/en/examples.md
  docs/en/index.md
  docs/en/troubleshooting.md
  pyproject.toml
  src/datafun_toolkit/paths.py
Due: B1-validate-pyproject, B2-ruff-format, B3-ruff-check

update
  .editorconfig
  .gitattributes
  .gitignore
  .pre-commit-config.yaml
  .python-version
  .vscode/extensions.json
  .yamllint.yml
  CITATION.cff
  INSTRUCTORS.md
  LICENSE
  README.md
  SE_MANIFEST.toml
  lychee.toml
  mkdocs.yaml
  pyproject.toml
  tools/run_pytest.py
  uv.lock
Due: B1-validate-pyproject, B2-ruff-format, B3-ruff-check

update
  .github/dependabot.yml
  .github/workflows/ci-python-mkdocs.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-mkdocs.yml
  .github/workflows/links.yml
  .github/workflows/release.yml
  INSTRUCTORS.md
  README.md
Due: none

Prep v0.9.4
  CHANGELOG.md
Due: none

Prep v0.9.5
  .github/workflows/ci-python-mkdocs.yml
  .github/workflows/deploy-mkdocs.yml
  .github/workflows/release.yml
  .gitignore
  .python-version
  CITATION.cff
  README.md
  SE_MANIFEST.toml
  docs/en/examples.md
  pyproject.toml
  ruff.strict.toml
  src/datafun_toolkit/__init__.py
  src/datafun_toolkit/diagnostics.py
  src/datafun_toolkit/logger.py
  src/datafun_toolkit/paths.py
  uv.lock
Due: B1-validate-pyproject, B2-ruff-format, B3-ruff-check

Update README.md
  .github/dependabot.yml
  .github/workflows/ci-python-mkdocs.yml
  .github/workflows/deploy-mkdocs.yml
  .github/workflows/links.yml
  .github/workflows/release.yml
  README.md
Due: none

Update README.md
  .vscode/datafun-toolkit-v1.2.zip
Due: none

Update README.md
  README.md
Due: none
